* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;

  background-color: white;
  font-size: 14px;
  line-height: 1.7;

  color: #333e44;
}

.container_ {
  padding-right: 45px;
  padding-left: 45px;
  max-width: 1349px;
  margin-left: auto;
  margin-right: auto;
}

.row_ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.left-content {
  padding: 10px;
  flex: 0 0 75%;
  max-width: 75%;
}
.right-content {
  padding: 10px;
  max-width: 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.right-tt {
  padding: 10px 15px 10px;
  background-color: #f7f8f9;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}
.search-tt:hover {
  cursor: pointer;
}
.content-tt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
}
.title-page {
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background: #f7f8f9;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}
#pagination-bar a,
#pagination-bar span {
  margin-left: 5px;
  background-color: white;
}
#pagination-bar a {
  color: #0d6efd;
}
#pagination-bar {
  display: flex;
  justify-content: right;
}

.date-line {
  margin: 0 0 15px 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.date-line span {
  background: #e95211;
  padding: 0 5px;
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 13px;
  z-index: 1;
  color: #fff;
}
.date-line::after {
  height: 1px;
  background-color: red;
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
}

.col-tt {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 10px;
  position: relative;
}

.container-tt {
  margin: 0 -10px;
}
.box-tt {
  margin-bottom: 30px;
}
.img-tt a {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  height: auto !important;
  padding-bottom: 60%;
}
.img-tt a > img {
  width: 400px;
  height: 400px;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s ease-in-out all;
  will-change: opacify;
  border: 0 none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;

  background: transparent;
}
.content-tt {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 95%;
  margin: 0 auto;
  margin-top: -30px;
  position: relative;
  padding: 10px 15px;
  box-shadow: 0px 4px 8px -2px #7aa5bb;
  margin-bottom: 10px;
  border-radius: 5px;
}
.input-group1 {
  line-height: 1.7;
  text-align: left;
  align-items: left;
  justify-content: left !important;
}
.search-tt-ip {
  max-width: 100%;
  width: 100%;
  min-height: 40px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.5;
  color: #333e44;
  background-color: #fff;
  background-image: none;
  margin-bottom: 15px;
  border: 1px solid #eaebf3;
  box-shadow: none;
  border-radius: 3px;
  margin-top: 10px;
  height: 40px;
}

.search-tt {
  vertical-align: middle;
  margin: 0;
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;
  display: table-cell;

  margin: 0;
}
.input-group1 {
  position: relative;
  display: table !important;
  border-collapse: separate;
}
label {
  display: inline-block !important;
}
.search-tt label {
  height: 40px;
  line-height: 39px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  outline: none !important;
  cursor: pointer;
  border: none;
  font-weight: 400;
  border-radius: 0;
  letter-spacing: 0;
}
.search-tt-bt {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;
  border-collapse: separate;
}
.search-tt-bt button {
  display: inline-block;
  height: 40px;
  line-height: 39px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  outline: none !important;
  cursor: pointer;
  border: none;
  font-weight: 400;
  border-radius: 0;
  letter-spacing: 0;
  margin-top: -5px;
  margin-left: 5px;
}
.titlehead {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}
.nav-category {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #212529;
  text-align: left;
}
.nav-pills {
  padding: 0;
  margin: 0;
  list-style: none;
}

.relative {
  position: relative !important;
}
.nav-link {
  display: block;
  padding: 8px 0;
  font-size: 14px;
  color: #333e44 !important;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  list-style: none;
}
.nav-link:hover {
  color: #e95211 !important;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.left-detail-box {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
}
.blog-noibat {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 10px 15px 10px;
  display: block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  text-align: left;
}
.h2_sidebar_blog {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 5px;
}
a {
  color: #333e44;
  text-decoration: none;
  background: transparent;
}
.blog_content .item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border-bottom: 1px dashed #f2f2f2;
  padding-bottom: 5px;
}

.post-thumb {
  width: 100px;
  margin-right: 10px;
}
.contentright {
  width: calc(100% - 110px);
}
img {
  border: 0 none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background: transparent;
}
.right-content-detail {
  padding: 10px 15px 10px;
  background-color: #f7f8f9;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}
.right-detail-box {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
}
.rte * {
  text-align: unset !important;
}

.noidung {
  display: -webkit-box;
  display: box; /* fallback */
  -webkit-box-orient: vertical;
  box-orient: vertical; /* fallback */
  -webkit-line-clamp: 3;
  line-clamp: 3; /* standard property */
  overflow: hidden;
}
.contentright h3 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}
.container_ {
  padding-right: 45px;
  padding-left: 45px;
  max-width: 1349px;
}
.rte img,
.rte iframe {
  display: block;
  margin: 10px auto;
}
.time-post {
  font-size: 14px;
  font-weight: 400;
  color: #acacac;
  display: inline-block;
  margin-right: 10px;
}

.article-title {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 700;
  color: #333;
  line-height: 34px;
}
img {
  object-fit: cover; /* Cắt phần thừa, không méo ảnh */
  object-position: center; /* (tùy chọn) Cắt ở giữa */
}
.cmt-container {
  background-color: #f9fafb;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  padding: 10px;
  margin-top: 15px;
}
.cmt-tt {
  display: block;

  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  color: #363636;
  margin-bottom: 0.25rem !important;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1.25rem;
}
.cmt-box {
  display: flex;
  width: 100%;
  padding: 10px;
}
.avt-cmt {
  width: 50px;
}
.cmt-form-container {
  flex: 1;
}
.avt-img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px auto;
}
.bt-cmt button {
  color: #e95211;
  font-size: 30px;
  border: none;
  background-color: transparent;
}
.bt-cmt button:hover {
  color: #953208;
  cursor: pointer;
  background-color: transparent;
}
.overlay {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
}
.cmt-form-container {
  position: relative;
}
.cmt-username {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  text-transform: capitalize;
}
.cmt-shadow {
  margin-left: auto;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  overflow: hidden;
}
.sub-cmt {
  margin-left: 40px !important;
}
#form_chinhsua {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.comment {
  background-color: white;
}
.comment img {
  border: 1px solid black;
}
.card-header {
  background-color: transparent !important;
}
